body,
html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #1a1a1a;
}

*,
** {
  box-sizing: content-box;
}

#root {
  min-width: 100vw;
  margin: 0 auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {
  content: '';
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}

.custom-event {
  position: relative;
}
.custom-tooltip {
  display: none;

  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.5em 1em;
  border-radius: 8px;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 0.9em;
  z-index: 100;
}

.custom-event:hover .custom-tooltip {
  display: block;
}
